body {
  font-family: Dosis;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
  font-weight: 400;
}
.display-5 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #c01e1e !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b37e00 !important;
  border-color: #b37e00 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37e00 !important;
  border-color: #b37e00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c01e1e !important;
  border-color: #c01e1e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #7e1414 !important;
  border-color: #7e1414 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #7e1414 !important;
  border-color: #7e1414 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ffbc00;
  color: #ffbc00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ffb400;
  color: #ffb400;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffb400;
  border-color: #ffb400;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #c01e1e;
  color: #c01e1e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c01e1e;
  border-color: #c01e1e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c01e1e !important;
  border-color: #c01e1e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #c1c1c1;
  color: #c1c1c1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #444444;
  color: #444444;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #ffb400 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #c01e1e !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996c00 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #681010 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c01e1e;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e97474;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.28rem;
  font-weight: 400;
}
blockquote {
  border-color: #ffbc00;
}
.btn-primary {
  margin: 1rem 0.5rem !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
}
.btn-secondary {
  margin: 1rem 0.5rem !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: 0 6px 15px 0 #ffb400 !important;
  -webkit-box-shadow: 0 6px 16px 0 #ffb400 !important;
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
}
.btn-success {
  color: white !important;
  margin: 1rem 0.5rem !important;
}
.btn-success:active {
  color: white !important;
}
.btn-success:hover,
.btn-success:focus {
  color: white !important;
  box-shadow: 0 6px 15px 0 #ffffff !important;
  -webkit-box-shadow: 0 6px 16px 0 #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbc00;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background-color: #f5f6ff;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbc00;
  border-bottom-color: #ffbc00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbc00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffb400 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbc00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rzMzee4krn .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #5b686b;
  background: none;
}
.cid-rzMzee4krn .navbar.opened {
  transition: all .3s;
  background: #5b686b !important;
}
.cid-rzMzee4krn .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-rzMzee4krn .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rzMzee4krn .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-rzMzee4krn .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rzMzee4krn .navbar .dropdown-menu {
  min-width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #ffbc00;
}
.cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-rzMzee4krn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rzMzee4krn .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: 92.94285714vh;
  }
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-rzMzee4krn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rzMzee4krn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-rzMzee4krn .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rzMzee4krn .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-rzMzee4krn .navbar.navbar-short {
  background: #5b686b !important;
  min-height: 60px;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rzMzee4krn .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rzMzee4krn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rzMzee4krn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rzMzee4krn .dropdown-item.active,
.cid-rzMzee4krn .dropdown-item:active {
  background-color: transparent;
}
.cid-rzMzee4krn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #5b686b;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-rzMzee4krn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzMzee4krn ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-rzMzee4krn .navbar-buttons {
  text-align: center;
}
.cid-rzMzee4krn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rzMzee4krn a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-rzMzee4krn .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-link:hover,
.cid-rzMzee4krn .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rzMwmK8b7v {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #465052;
}
.cid-rzMwmK8b7v .slider-text-two {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
}
.cid-rzMwmK8b7v .mbr-section-title,
.cid-rzMwmK8b7v .mbr-section-subtitle {
  color: #232323;
}
.cid-rzMwmK8b7v .mbr-section-subtitle span {
  font-weight: bold;
}
.cid-rzMwmK8b7v .mbr-text {
  color: #232323;
  font-weight: 100;
}
.cid-rzMwmK8b7v .mbr-section-btn {
  color: white;
}
@media (max-width: 767px) {
  .cid-rzMwmK8b7v .row {
    margin-left: -15px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzMwmK8b7v .slider-text-two {
    outline: 15px solid rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.cid-sMlccuDqoY {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-sMlccuDqoY {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-sMlccuDqoY {
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
  }
}
.cid-sMlccuDqoY .f-row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-sMlccuDqoY .f-row {
    flex-direction: row;
  }
}
.cid-sMlccuDqoY .f-item {
  flex: 1 1 100%;
}
@media (min-width: 992px) {
  .cid-sMlccuDqoY .f-item {
    flex: 1 1 50%;
  }
}
@media (min-width: 992px) {
  .cid-sMlccuDqoY .image-wrapper {
    min-height: 750px;
  }
}
.cid-sMlccuDqoY .image-wrapper img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sMlccuDqoY .text-wrapper {
  width: 100%;
  background-color: #879a9f;
  padding: 3rem 1.5rem;
}
@media (min-width: 992px) {
  .cid-sMlccuDqoY .text-wrapper {
    transform: translate(20%, 3rem);
  }
}
@media (min-width: 1200px) {
  .cid-sMlccuDqoY .text-wrapper {
    padding: 6rem 3.25rem;
    margin: 1rem;
  }
}
.cid-sMlccuDqoY .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-sMlccuDqoY .mbr-text,
.cid-sMlccuDqoY .mbr-section-btn {
  color: #ffd8db;
}
.cid-sMlccuDqoY .z-100 {
  z-index: 100;
}
.cid-sMlccuDqoY .mbr-text {
  text-align: left;
  color: #ffffff;
}
.cid-sMjeOfV7zG {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #465052;
}
.cid-sMjeOfV7zG .mbr-text {
  color: #efefef;
}
.cid-sMjeOfV7zG .card-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #879a9f;
  transition: all 0.3s;
  padding: 1rem 1rem !important;
}
.cid-sMjeOfV7zG .card-wrapper:hover {
  transform: translateY(-1rem);
}
.cid-sMjeOfV7zG .card-wrapper:hover .ico2 {
  color: #ffbc00 !important;
}
.cid-sMjeOfV7zG .text-info:hover {
  color: inherit!important;
}
.cid-sMjeOfV7zG .ico2 {
  color: #c01e1e !important;
  transition: all 0.6s;
}
.cid-sMjeOfV7zG .card-box {
  padding: 0rem 1rem;
}
.cid-sMjeOfV7zG .ico1 {
  font-size: 3rem !important;
}
.cid-sMjeOfV7zG h3,
.cid-sMjeOfV7zG h4 {
  padding: 0;
  margin: 0;
}
.cid-sMjeOfV7zG .card-title,
.cid-sMjeOfV7zG .card-img {
  color: #57468b;
}
.cid-sMjeOfV7zG .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-sMjeOfV7zG H3 {
  color: #cccccc;
}
.cid-sMjeOfV7zG H1 {
  color: #ffffff;
}
.cid-sMjeOfV7zG .card-img {
  width: auto;
}
.cid-rzMwoyQjU9 {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #465052;
}
.cid-rzMwoyQjU9 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rzMwoyQjU9 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rzMwoyQjU9 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rzMwoyQjU9 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rzMwoyQjU9 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rzMwoyQjU9 .mbr-gallery-item > div:hover::before {
  opacity: 0.5 !important;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #ffffff !important;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00 !important;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter ul {
  display: block;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter ul li {
  position: relative;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter li.active .btn {
  color: #ffbc00 !important;
  background: transparent;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00 !important;
}
.cid-rzMwoyQjU9 .mbr-gallery-filter li.active::after,
.cid-rzMwoyQjU9 .mbr-gallery-filter li:hover::after {
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  background: #ffbc00 !important;
}
.cid-rzMwoyQjU9 .mbr-gallery-title {
  transition: all.3s;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  top: -2rem;
  right: 0;
  text-align: right;
  padding: 1rem;
  color: #fff;
  background: transparent;
}
.cid-rzMwoyQjU9 .mbr-gallery-item > div:hover .mbr-gallery-title {
  top: 0;
  right: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
.cid-rzMwoyQjU9 .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-rzMwoyQjU9 .icon-focus:before {
  content: '\e95e';
}
.cid-rzMwoyQjU9 .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-rzMwoyQjU9 .mbr-section-title {
  margin: 0;
}
.cid-rzMwoyQjU9 .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-rzMwoyQjU9 .underline .line {
  width: 3rem;
  height: 2px;
  background: #ffb400;
  display: inline-block;
}
.cid-rzMwoyQjU9 .mbr-section-title,
.cid-rzMwoyQjU9 .underline {
  color: #ffffff;
}
.cid-rzMwoyQjU9 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rzMwAwMR92 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #5b686b;
}
.cid-rzMwAwMR92 a:link {
  text-decoration: none;
}
.cid-rzMwAwMR92 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #5b686b;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rzMwAwMR92 .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rzMwAwMR92 .inner-text {
  line-height: 3em;
}
.cid-rzMwAwMR92 .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMwAwMR92 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rzMwAwMR92 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rzMwAwMR92 .content-text,
.cid-rzMwAwMR92 .inner-text {
  color: #ffb400;
}
